{% extends "OrgaController/base.html" %}
{% block header %}
    Organisations
{% endblock %}
{% block body %}
<ul>
    {% for orga in all %}
        <li>
            <form action="{{ path('orga.updateOrga', [orga.id]) }}" method="post">
                <a href="{{ path('orga.getOne', [orga.id]) }}">{{ orga }}</a><button>Edit</button>
            </form>
        </li>
    {% endfor %}
</ul>
    <form method="post" action="{{ path('orga.addOrgaForm') }}">
        <button>Ajouter Organisation</button>
    </form>
{% endblock %}