{% extends "OrgaController/base.html" %}
{% block header %}
    <h1>Ajouter Organisation</h1>
{% endblock %}

{% block body %}
    <form action="{{ path('orga.addOrgaForm') }}" method="post">
        <label>Nom</label>
        <input name="name" type="text">
        <label>Domaine</label>
        <input name="domain" type="text">
        <label>Alias</label>
        <input name="alias" type="text">
        <button value="valid" name="valid">Valider</button>
        <button value="cancel" name="cancel">Annuler</button>
    </form>
{% endblock %}