<div class="ui grid ">
    <div class="ui ten wide column">
        <div class="ui top attached header">Store</div>
        <div class="ui attached segment">
            <button class="ui button" onclick="location.href='{{ path('order') }}'">Mes commandes ({{ numOrders }})</button>
            <button class="ui button" onclick="location.href='{{ path('store') }}'">Parcourir le store</button>
        </div>
    </div>

    <div class="ui six wide column">
        <div class="ui top attached header">Paniers</div>
        <div class="ui attached segment">
            <button class="ui button" onclick="location.href='{{ path('newBasket') }}'">Nouveau</button>
            <button class="ui button" onclick="location.href='{{ path('basket') }}'">Mes paniers ({{ numBaskets }})</button>
        </div>
    </div>

    <div class="ui sixteen wide column">
        <div class="ui top attached header">Promotion en cours</div>
        <div class="ui attached segment">
            <ul>
                {% for article in articlesPromo %}
                    <li>{{ article.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="ui sixteen wide column">
        <div class="ui top attached header">Consultés récemment</div>
        <div class="ui attached segment">
            <p>Un Article</p>
        </div>
    </div>

</div>