<div class="ui grid ">
    <div class="olive ten wide column">
        <div class="ui top left attached label">Store</div>
        <button class="ui button">Mes commandes</button>
        <button class="ui button">Parcourir le store</button>
    </div>
    <div class="black six wide column">
        <div class="ui top left attached label">Paniers</div>
        <button class="ui button">Nouveau</button>
        <button class="ui button">Mes paniers</button>
    </div>
    <div class="olive sixteen wide column">
        <div class="ui top left attached label">Promotion en cours</div>
        <p>De belles promos</p>
    </div>
    <div class="black sixteen wide column">
        <div class="ui top left attached label">Consultés récemment</div>
        <p>Un Article</p>
    </div>
</div>