<!--View associated to section action of MainController controller -->
<div class="ui grid ">
    <div class="ui wide column">
        <div class="ui top attached header">Produits {{ section }}</div>
        <div class="ui attached segment">

            <div class="ui stackable four column grid">
                {% for article in articles %}

                <div class="ui column">
                    <div class="ui top attached header">{{ article.name }}</div>
                    <div class="ui attached segment olive">
                        {{ article.price }}
                        {{ article.comments }}
                        <a data-target=".article" class="ui button mini" href='{{ path('productSheet', [section.id, article.id])}}'>Voir plus</a>
                        <a href='{{ path('addArticleToDefaultBasket', [article.id]) }}'>
                        <div class="ui vertical animated button mini" tabindex="0">
                            <div class="hidden content">Shop</div>
                            <div class="visible content">
                                <i class="shop icon"></i>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>